{{#compare (subtract @root.data.search_data.map_results.hits.total @root.data.search_data.map_results.aggregations.geo_search.buckets.[0].doc_count) ">" 0 ~}}
<div class="pull-right">
  <div class="t-margin">
    <a href="{{replace @root.request.url.pathname '/map' ''}}{{> query_search}}&exclude=locations">List {{subtract @root.data.search_data.map_results.hits.total @root.data.search_data.map_results.aggregations.geo_search.buckets.[0].doc_count}} {{#compare @root.data.location_data.locations_results.hits.total ">" 0}}other{{/compare}} {{inflect (subtract @root.data.search_data.map_results.hits.total @root.data.search_data.map_results.aggregations.geo_search.buckets.[0].doc_count) "submission" "submissions"}}</a>
    {{#compare @root.data.search_data.map_results.aggregations.all_areas.buckets.length ">" 0 ~}}
    available
    {{#compare @root.data.search_data.areas_results.hits.total ">" 0 ~}}
    <span class="areas areas-fulltext">
      {{/compare ~}}
      {{#with @root.data.location_data.la_results.aggregations.local_authority_areas ~}}
      {{#each buckets ~}}
      {{#if (contains (map @root.data.search_data.map_results.aggregations.all_areas.buckets (getProp "key")) (replace (replace (replace key " and " " & ") " City" "") "City of " "")) ~}}
      <span class="area">{{{replace (replace (replace key " and " " & ") " City" "") "City of " ""}}}</span>
      {{/if ~}}
      {{#if @last}}{{#compare @root.data.location_data.home_results.hits.total ">" 0}}
      {{#compare @root.data.search_data.areas_results.hits.total ">" 0 ~}}
    </span>
    {{/compare ~}}
    nationally.{{/compare}}{{/if}}
    {{/each ~}}
    {{/with ~}}
    {{else}}
    available nationally.
    {{/compare ~}}
  </div>
</div>
{{else}}
{{#if @root.data.location_data.national_results.hits.total ~}}
<div class="pull-right">
  <div class="t-margin">
    <a href="{{replace @root.request.url.pathname '/map' ''}}{{> query_search}}{{#if (querystringify @root.request.params.query utm_source=null utm_campaign=null utm_medium=null)}}&{{else}}?{{/if}}exclude=locations">List {{inflect @root.data.location_data.national_results.hits.total "submission" "submissions" true}}</a>
    available nationally.
  </div>
</div>
{{/if ~}}
{{/compare ~}}
<ul class="tab">
  <li class="tab-item{{#ifNone (contains @root.request.url.pathname '/map')}} active{{/ifNone}}">
    <a href="{{concat '/help/' (itemAt (split @root.request.params.type '&') 0) (if (compare (querystringify @root.request.params.query utm_source=null utm_campaign=null utm_medium=null exclude=null) '') '' else='?') (querystringify @root.request.params.query utm_source=null utm_campaign=null utm_medium=null)}}">
      <span class="far fa-fw fa-list"></span>
      List
    </a>
  </li>
  <li class="tab-item{{#ifAny (contains @root.request.url.pathname '/help/for-people/map') (contains @root.request.url.pathname '/help/needed/map') (contains @root.request.url.pathname '/help/for-organisations/map')}} active{{/ifAny}}">
    <a href="{{concat '/help/' (itemAt (split @root.request.params.type '&') 0) '/map' (if (compare (querystringify @root.request.params.query utm_source=null utm_campaign=null utm_medium=null exclude=null) '') '' else='?') (querystringify @root.request.params.query utm_source=null utm_campaign=null utm_medium=null)}}">
      <span class="far fa-fw fa-map-marker-alt"></span>
      Map
    </a>
  </li>
  {{#compare @root.data.search_data.detailed_results.hits.total ">" 0 ~}}
  <li class="tab-item tab-action">
    <form action="{{{@root.request.url.path}}}" method="GET" class="form-horizontal">
      {{!-- {{#each (split "volunteersearch_types,activities,themes,services,age_groups" ",")}}
        {{#if (getProperty @root.request.params.query this) ~}}
          {{#each (arrayify (getProperty @root.request.params.query this)) ~}}
            <input type="hidden" name="{{../this}}[]" value="{{this}}" />
          {{/each ~}}
        {{/if ~}}
      {{/each ~}} --}}
      {{#each (split "keywords,exclude,activities,themes,location,lat,lng,la,age" ",")}}
        {{#if (getProperty @root.request.params.query this) ~}}
          <input type="hidden" name="{{this}}" value="{{getProperty @root.request.params.query this}}" />
        {{/if ~}}
      {{/each ~}}
      <input type="hidden" name="distance" value="{{default @root.request.params.query.distance 10}}" />
      {{#if @root.request.params.query.debug_results}}
        <input type="hidden" name="debug_results" value="{{@root.request.params.query.debug_results}}">
      {{/if}}

      <div class="form-group" style="margin-bottom:-1px;">
        <div class="column col-ml-auto col-3 col-lg-4 col-md-6">
          <label class="form-label pull-right r-margin" for="sort">
            Sort by
          </label>
        </div>
        <div class="col-3 col-lg-4 col-md-6">
          <select class="form-select" id="sort" name="sort" onchange="this.form.submit();">
            {{#ifAny @root.request.params.query.keywords @root.request.params.query.location @root.request.params.query.activities @root.request.params.query.themes @root.request.params.query.age ~}}
            <option value="relevance" {{#unless @root.request.params.query.sort}} selected {{/unless}}>Relevance</option>
            {{/ifAny ~}}
            {{#if @root.request.params.query.location ~}}
            <option value="distance"{{#compare @root.request.params.query.sort "distance"}} selected{{/compare}}{{#compare @root.request.params.query.exclude "locations"}} disabled{{else}}{{#compare @root.request.params.query.location ""}} disabled{{/compare}}{{/compare}}>Distance</option>
            {{/if ~}}
            <option value="newest"{{#compare @root.request.params.query.sort "newest"}} selected{{/compare}}>Newest</option>
            <option value="oldest"{{#compare @root.request.params.query.sort "oldest"}} selected{{/compare}}>Oldest</option>
          </select>
        </div>
      </div>
    </form>
  </li>
  {{/compare ~}}
</ul>
