{{> search_info paging=@root.data.search_data.detailed_results.pagination}}

{{#if @root.request.params.query.debug_results}}
  <div class="v-padding-full">
    <pre>
{{{safeStringify @root.data.search_data.detailed_results.request}}}
    </pre>
  </div>
{{/if}}

{{#each @root.data.search_data.detailed_results.hits.hits ~}}
  {{#if @root.request.params.query.debug_results}}
    <div class="v-padding-full">
      <pre>
SCORE: {{_score}}
DISTANCE: {{numberFormat fields.distance.[0] "en-GB" 1}} miles
LAST MODIFIED: {{#with (momentDistance (moment _source.date_last_modified "x") null "days")~}}
  {{~#compare this "<=" 0~}}
    {{replace (concat this "") "-" ""}} days ago
  {{~else~}}
    {{this}} days in the future
  {{~/compare~}}
{{/with}}

HIGHLIGHTS:
{{{safeStringify highlight}}}
      </pre>
    </div>
  {{/if}}
  {{> content_submission_search_result _source distance=fields.distance.[0] content_type=_type id=(replace _id 'ccad_' '')}}
{{/each ~}}

<div class="foot">
  {{> pagination firstLastNavigation=true paging=@root.data.search_data.detailed_results.pagination}}
</div>