<div class="{{#compare view 'widget'}}x-padding-full{{else}}mdc-card{{/compare}} content-primary full" data-submission-id="{{Id}}" data-submission-layout="Full" data-submission-context="{{default viewContext "Vacancy Page"}}">
  {{> content_submission_key_info type="full"}}
  <div class="columns b-margin-full">
    <div class="column col-8 col-md-12">
      <div class="detailed-info">
        {{#if support ~}}
        <h4>Type of support for {{type}}</h4>
        <p class="mdc-typography--body1">
          {{#compare support "Other (please describe)" ~}}
          {{support-other-description}}
          {{else}}
          {{support}}
          {{/compare ~}}
        </p>
        {{/if ~}}
        {{#if help-offered ~}}
        <h4>Help offered</h4>
        <p class="mdc-typography--body1">
          {{help-offered}}
        </p>
        {{/if ~}}
        {{#if access-support ~}}
        <h4>How to access this support</h4>
        <p class="mdc-typography--body1">
          {{access-support}}
        </p>
        {{/if ~}}
        {{#compare where "In a local community" ~}}
        <h4>Support provided locally</h4>
        <p class="mdc-typography--body1">
          {{inflect postcodes "Postcode" "Postcodes"}}: {{#each postcodes}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}
        </p>
        {{/compare ~}}
        {{#compare where "Across one or more local authority areas" ~}}
        <h4>Support provided in {{inflect areas "this area" "these areas"}}</h4>
        <p class="mdc-typography--body1">
          {{inflect areas "Area" "Areas"}}: {{#each areas}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}
        </p>
        {{/compare ~}}
        {{#compare where "Across the whole of Scotland" ~}}
        <h4>Support provided across the whole of Scotland</h4>
        {{/compare ~}}
        {{#ifAny name website telephone email facebook twitter ~}}
        <h4>More information</h4>
        <div class="columns">
          {{#if name ~}}
          <div class="column col-3 col-md-4 col-sm-12">
            <strong>Contact name</strong>
          </div>
          <div class="column col-9 col-md-8 col-sm-12">
            {{name}}
          </div>
          {{/if ~}}
          {{#if website ~}}
          <div class="column col-3 col-md-4 col-sm-12">
            <strong>Website</strong>
          </div>
          <div class="column col-9 col-md-8 col-sm-12">
            <a href="{{fixUrl website}}">{{website}}</a>
          </div>
          {{/if ~}}
          {{#if telephone ~}}
          <div class="column col-3 col-md-4 col-sm-12">
            <strong>Telephone</strong>
          </div>
          <div class="column col-9 col-md-8 col-sm-12">
            {{telephone}}
          </div>
          {{/if ~}}
          {{#if email ~}}
          <div class="column col-3 col-md-4 col-sm-12">
            <strong>Email</strong>
          </div>
          <div class="column col-9 col-md-8 col-sm-12">
            <a href="mailto:{{email}}">{{email}}</a>
          </div>
          {{/if ~}}
          {{#if facebook ~}}
          <div class="column col-3 col-md-4 col-sm-12">
            <strong>Facebook</strong>
          </div>
          <div class="column col-9 col-md-8 col-sm-12">
            <a href="{{fixUrl facebook}}">{{facebook}}</a>
          </div>
          {{/if ~}}
          {{#if twitter ~}}
          <div class="column col-3 col-md-4 col-sm-12">
            <strong>Twitter</strong>
          </div>
          <div class="column col-9 col-md-8 col-sm-12">
            <a href="{{fixUrl twitter}}">{{twitter}}</a>
          </div>
          {{/if ~}}
        </div>
        {{/ifAny}}
      </div>
    </div>

    <div class="column col-4 col-md-12">
      <div class="location-info">
        {{#compare (length (arrayify geo_coords)) ">" 0 ~}}
        <div class="container-content container-map">
          <div id="map-content-primary" style="height: 40vh; width: 100%;" data-component="LeafletMap,TasksTrigger" data-LeafletMap='{
              mapOptions: {
                fullscreenControl: true,
                scrollWheelZoom: false,
                trackResize: false,
                zoom: 11
              },
              initialLatLng: { lat: 55.94528820000001, lng: -3.200755699999945 },
              featureGroups: [
                {
                  boundToThis: true,
                  features: [
                    {{#each (arrayify geo_coords) ~}}
                    {
                      type: "Marker",
                      popupContent: `
                        <strong>{{../organisation_name}}</strong>
                        {{#if (itemAt ../postcodes @index) ~}}
                        <div class="v-margin">
                          Postcode: {{itemAt ../postcodes @index}}
                        </div>
                        {{/if ~}}
                        <p class="">{{../title}}</p>
                      `,
                      latLng: { lat: {{lat}}, lng: {{lon}} }
                    },
                    {{/each}}
                  ]
                }
              ]
            }' data-TasksTrigger='{
              visibilityChange: {
                visible: [
                  {
                    type: "run",
                    config: {
                      code: { __template: `ComponentManager.componentRegistry["\{{jquery rootElement "data" (split "LeafletMapUid")}}"].map.invalidateSize()` }
                    }
                  }
                ]
              }
            }'>
          </div>
        </div>
        {{#compare advertised_areas.length ">" 0 ~}}
        <div class="detailed-info">
          <p>
            This opportunity is also advertised across
            {{#compare (getType advertised_areas) "string" ~}}
            {{{advertised_areas}}}.
            {{else}}
            {{#each advertised_areas ~}}
            {{#if @last}} and {{/if}}{{{this}}}{{#unless @last}}{{#compare ../advertised_areas.length ">" 2}},{{/compare}} {{else}}.{{/unless}}
            {{/each ~}}
            {{/compare ~}}
          </p>
        </div>
        {{/compare ~}}
        {{else}}
        <div class="container-content detailed-info">
          <p>
            {{#compare advertised_areas.length ">" 0 ~}}
            This opportunity is not listed at a specific location but is advertised across
            {{#compare (getType advertised_areas) "string" ~}}
            {{{advertised_areas}}}.
            {{else}}
            {{#each advertised_areas ~}}
            {{#if @last}} and {{/if}}{{{this}}}{{#unless @last}}{{#compare ../advertised_areas.length ">" 2}},{{/compare}} {{else}}.{{/unless}}
            {{/each ~}}
            {{/compare ~}}
            {{else}}
            This opportunity is not listed at a specific location.
            {{/compare ~}}
          </p>
        </div>
        {{/compare ~}}
      </div>
    </div>
  </div>
  <div class="mdc-typography--body1 report pull-right">
    <span class="fas fa-flag fa-fw text-error" title="Report this submission"></span>
    <a href="mailto:digital@scvo.org.uk?subject=Report%20submission:%20{{urlencode title}}%20({{urlencode milo_ref}})%20via%20COVID-19%20help%20search&body=I%20would%20like%20to%20report%20this%20submission%20for%20the%20following%20reasons:" class="no-underline">Report this submission</a>
  </div>
  <div class="mdc-typography--body2 last-modified">
    <span class="far fa-calendar-alt" aria-hidden="true"></span>
    <span title="Added on {{momentFormat (moment date_last_modified "x") "YYYY-MM-DD hh:mm"}}">Added {{momentFromNow date_last_modified}}</span>
  </div>
</div>
