<div class="card-header">
  {{#compare view "===" "full" ~}}
  {{#unless (compare (querystringify @root.request.params.query utm_source=null utm_campaign=null utm_medium=null) "") ~}}
  {{#ifAny @root.request.params.query.page @root.request.params.query.keywords @root.request.params.query.location @root.request.params.query.salary_min @root.request.params.query.salary_max @root.request.params.query.working_patterns @root.request.params.query.regions @root.request.params.query.roles @root.request.params.query.sectors @root.request.params.query.home_based @root.request.params.query.various_locations ~}}
  <a href="/search{{> query_search}}" class="back-to-results"><span class="far fa-chevron-circle-left" aria-hidden="true"></span> <span class="underline">Back to search results</span></a>
  {{/ifAny ~}}
  {{/unless ~}}
  {{/compare ~}}
  <div class="">
    {{#ifAny (compare @root.route.name "===" "help_people") ~}}
    {{#ifAll @root.request.params.query.location @root.request.params.query.lat @root.request.params.query.lng ~}}
    <div class="v-margin pull-right search-distance">
      {{#if distance ~}}
      {{#ifAll (compare distance "!==" "") (compare distance "!==" "Infinity") (compare distance "<=" @root.request.params.query.distance) ~}}
      {{> content_submission_location_distance distance=distance}}
      {{else}}
      {{#if (contains volunteersearch_type "Home-based volunteering") ~}}
      {{> content_submission_location_home}}
      {{else}}
      {{#ifAny (compare (getType areas) "string") (compare areas.length ">" 0) ~}}
      {{> content_submission_location_areas areas=areas}}
      {{/ifAny ~}}
      {{/if ~}}
      {{/ifAll ~}}
      {{else}}
      {{#compare distance "===" 0 ~}}
      {{> content_submission_location_distance distance=0.1}}
      {{else}}
      {{#if (contains volunteersearch_type "Home-based volunteering") ~}}
      {{> content_submission_location_home}}
      {{/if ~}}
      {{/compare ~}}
      {{/if ~}}
    </div>
    {{else}}
    {{#if (contains volunteersearch_type "Home-based volunteering") ~}}
    <div class="v-margin pull-right search-distance">
      {{> content_submission_location_home}}
    </div>
    {{/if ~}}
    {{/ifAll ~}}
    {{/ifAny ~}}
    {{#compare @root.route.name "===" "submission" ~}}
    {{#compare type "full" ~}}
    {{#unless (compare (querystringify @root.request.params.query utm_source=null utm_campaign=null utm_medium=null) "") ~}}
    {{#ifAny @root.request.params.query.page @root.request.params.query.support @root.request.params.query.keywords @root.request.params.query.location ~}}
    <a href="/help/for-people{{> query_search}}" class="back-to-results no-underline"><span class="far fa-chevron-circle-left" aria-hidden="true"></span> <span class="underline">Back to search results</span></a>
    {{/ifAny ~}}
    {{/unless ~}}
    {{/compare ~}}
    {{/compare ~}}
    {{#compare type "full" ~}}
    <h2 class="t-margin">
      {{{title}}}
    </h2>
    {{else}}
    <div class="card-title h5">
      <a href="/help/submission/{{Id}}/{{slugify title}}{{> query_search}}">
        <span class="hover-underline">{{{title}}}</span>
      </a>
    </div>
    {{/compare ~}}
    {{#if organisation_name ~}}
    <ul class="fa-ul organisation">
      <li class="card-subtitle">
        <span class="fa-li"><span class="far fa-home-heart" title="Organisation"></span></span>
        {{organisation_name}}
      </li>
    </ul>
    {{/if ~}}
  </div>
</div>