{{#ifAll (compare (getType postcodes) "array") (compare (length postcodes) ">" 0) ~}}
<ul class="fa-ul postcodes">
  <li class="mdc-typography--body2">
    <span class="fa-li"><span class="fas fa-location-arrow fa-fw" title="Location"></span></span>
    {{inflect (length postcodes ',') "location" "locations" true}}
  </li>
</ul>
{{else}}
{{#compare (length (arrayify (split postcodes ','))) ">" 0 ~}}
<ul class="fa-ul postcodes">
  <li class="mdc-typography--body2">
    <span class="fa-li"><span class="fas fa-location-arrow fa-fw" title="Location"></span></span>
    {{inflect (length (arrayify (split postcodes ','))) "location" "locations" true}}
  </li>
</ul>
{{else}}
{{#compare content_type "coronavirus-group" ~}}
<ul class="fa-ul location">
  <li class="mdc-typography--body2">
    <span class="fa-li"><span class="far fa-location-arrow fa-fw" title="Location"></span></span>
    {{replace location ", UK" ""}}
  </li>
</ul>
{{/compare ~}}
{{/compare ~}}
{{/ifAll ~}}