<div class="map-content">
  <h4 class="map-info post-title">
    <a href="/help/submission/{{Id}}/{{slugify title}}{{> query_search}}">{{title}}</a>
  </h4>
  {{#if organisation_name ~}}
  <div class="v-margin">
    {{organisation_name}}
  </div>
  {{/if ~}}
  {{#if map_postcode ~}}
  <div class="v-margin">
    Postcode: {{map_postcode}}
  </div>
  {{/if ~}}
  <div class="">
    {{#if help_offered ~}}
    <div style="max-height: 2.8rem;" class="post-info-description faded-overflow">
      {{{help_offered}}}
    </div>
    {{/if ~}}
  </div>
  <div class="">
    <a href="/help/submission/{{Id}}/{{slugify title}}{{> query_search}}" class="no-underline">Find out more</a>
  </div>
</div>