<div id="detailed-results-container" class="container b-padding-full" instance_id="perm">
  {{> submission_search_header}}

  {{> submission_search_form}}

  {{> submission_search_tabs}}

  {{#if @root.data.search_data.map_results.pagination.totalResults ~}}
  <div id="map-full" style="height: 60vh; width: 100%;" data-component="LeafletMap" data-LeafletMap='{
      mapOptions: {
        fullscreenControl: true,
        scrollWheelZoom: false,
        trackResize: false,
        zoom: 11
      },
      initialLatLng: { lat: 55.94528820000001, lng: -3.200755699999945 },
      featureGroups: [
        {{#ifAll @root.request.params.query.distance @root.request.params.query.lat @root.request.params.query.lng ~}}
        {
          boundToThis: true,
          features: [
            {
              type: "Circle",
              latLng: { lat: {{@root.request.params.query.lat}}, lng: {{@root.request.params.query.lng}} },
              options: {
                radius: {{default (multiply @root.request.params.query.distance 1609.34) 0}},
                color: "#008EDF"
              }
            }
          ]
        }
        {{/ifAll ~}}
      ],
      markerClusterGroups: [
        {
          boundToThis: true,
          options: {
            showCoverageOnHover: false
          },
          markers: [
            {{#each @root.data.search_data.map_results.hits.hits ~}}
              {{#if _source.geo_coords ~}}
                {{#each (arrayify _source.geo_coords) ~}}
                  {{#if @root.request.params.query.distance ~}}
                    {{#compare (itemAt ../fields.distance @index) "<" @root.request.params.query.distance ~}}
                      {
                        type: "Marker",
                        popupContent: `
                          {{> content_submission_map ../_source map_postcode=(itemAt (arrayify (split ../_source.postcode ",")) @index) content_type=../_type id=(replace ../_id "ccad_" "")}}
                        `,
                        latLng: { lat: {{lat}}, lng: {{lon}} }
                      },
                    {{/compare ~}}
                  {{else}}
                    {
                      type: "Marker",
                      popupContent: `
                        {{> content_submission_map ../_source map_postcode=(itemAt (arrayify (split ../_source.postcode ",")) @index) content_type=../_type id=(replace ../_id "ccad_" "")}}
                      `,
                      latLng: { lat: {{lat}}, lng: {{lon}} }
                    },
                  {{/if ~}}
                {{/each ~}}
              {{/if ~}}
            {{/each ~}}
          ]
        }
      ]
    }'></div>
  {{else}}
  <div class="grid-content">
    {{> search_info paging=@root.data.search_data.detailed_results.pagination}}
  </div>
  {{/if ~}}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var $loader = $('#submission-map-loader');
    $loader.css('display', 'none');
  });
</script>