<div class="container b-padding-full">
  {{#ifAll (compare @root.route.name "!==" "share") (compare @root.data.primaryResponse.status "!==" "published") ~}}
  <div class="label label-error x-padding">
    <span class="fal fa-exclamation-triangle r-margin-full"></span>
    This submission has been {{@root.data.primaryResponse.status}}
  </div>
  {{/ifAll ~}}

  {{#ifAny (compare @root.route.name "share") (compare (concat '' @root.data.primaryResponse.secret_key) @root.request.params.secret_key) (compare @root.data.auth.uid "!==" "") ~}}
  {{#compare (default @root.request.params.type @root.data.primaryResponse.type) "assistance" ~}}
  <h2>Help or resources needed</h2>
  <p>
    If you are an organisation needing assistance, please describe this below.
  </p>
  {{else}}
  <h2>{{#compare @root.route.name "share"}}Share{{else}}Update{{/compare}} what help you can offer</h2>
  <p>
    Please only log help if you are an organisation. Individuals should see how they can support people in their community through <a href="/volunteering">volunteering</a>.
  </p>
  <p>
    Please only add services where you have fully assessed the risk to staff, volunteers and beneficiaries.
  </p>
  <p>
    You should prioritise following national guidelines on social distancing and hygiene.
  </p>
  <p>
    Do add examples of your existing services which you have adapted to deliver without face-to-face contact.
  </p>
  <p>
    Please do not rush to deliver a new service without fully assessing risks and potential unintended consequences. Avoid developing new services which are not within your core expertise as an organisation. Consider if freeing up your staff and volunteers to support neighbours as a priority instead.
  </p>
  {{/compare ~}}

  {{#unless (default @root.request.params.type @root.data.primaryResponse.type) ~}}
  <p>
    Lots of organisations want to help in the response the many challenges facing people, communities and our health and care services. Please use this form to share what help you can offer.
  </p>
  <p>
    Can you offer help:
  </p>
  <ul>
    <li><a href="/share/people">Directly to people</a></li>
    <li><a href="/share/organisations">To other organisations who are responding to the impact of the pandemic</a></li>
  </ul>
  {{else}}
  {{#ifAny (compare (default @root.request.params.type @root.data.primaryResponse.type) "people") (compare (default @root.request.params.type @root.data.primaryResponse.type) "organisations") (compare (default @root.request.params.type @root.data.primaryResponse.type) "assistance") ~}}
  <form action="/share/{{#compare @root.route.name 'submission_edit'}}update/{{@root.request.params.id}}/{{#if @root.data.auth.uid}}{{@root.data.primaryResponse.secret_key}}{{else}}{{@root.request.params.secret_key}}{{/if}}{{else}}submit{{/compare}}" method="post" id="share">
    {{!-- <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" /> --}}
    <input type="hidden" name="action" value="validate_captcha" />
    <input type="hidden" name="type" value="{{default @root.request.params.type @root.data.primaryResponse.type}}" />
    {{#switch (default @root.request.params.type @root.data.primaryResponse.type) ~}}
    {{#case "people" ~}}
    <h3>Help available to people</h3>
    {{/case ~}}
    {{#case "organisations" ~}}
    <h3>Help available to organisations</h3>
    {{/case ~}}
    {{/switch ~}}

    {{#ifAny (compare (default @root.request.params.type @root.data.primaryResponse.type) "people") (compare (default @root.request.params.type @root.data.primaryResponse.type) "organisations") ~}}
    <div class="form-group t-margin-full">
      <label class="form-label">What is the main type of support you can offer?</label>
      {{#switch (default @root.request.params.type @root.data.primaryResponse.type) ~}}
      {{#case "people" ~}}
      <label class="form-radio">
        <input type="radio" name="support" class="support-not-other-option" value="Emotional or social support"{{#compare @root.data.primaryResponse.support 'Emotional or social support'}} checked{{/compare}} />
        <i class="form-icon"></i> Emotional or social support (e.g. befriending)
      </label>
      <label class="form-radio">
        <input type="radio" name="support" class="support-not-other-option" value="Food / grocery delivery"{{#compare @root.data.primaryResponse.support 'Food / grocery delivery'}} checked{{/compare}} />
        <i class="form-icon"></i> Food / grocery delivery
      </label>
      <label class="form-radio">
        <input type="radio" name="support" class="support-not-other-option" value="Transportation"{{#compare @root.data.primaryResponse.support 'Transportation'}} checked{{/compare}} />
        <i class="form-icon"></i> Transportation
      </label>
      <label class="form-radio">
        <input type="radio" name="support" class="support-not-other-option" value="Information and advice"{{#compare @root.data.primaryResponse.support 'Information and advice'}} checked{{/compare}} />
        <i class="form-icon"></i> Information and advice
      </label>
      <label class="form-radio">
        <input type="radio" name="support" value="Other" id="support-other-option"{{#compare @root.data.primaryResponse.support 'Other'}} checked{{/compare}} />
        <i class="form-icon"></i> Other (please describe)
      </label>
      {{/case ~}}
      {{#case "organisations" ~}}
      <label class="form-radio">
        <input type="radio" name="support" class="support-not-other-option" value="Care staff or trained volunteers"{{#compare @root.data.primaryResponse.support 'Care staff or trained volunteers'}} checked{{/compare}} />
        <i class="form-icon"></i> Care staff or trained volunteers
      </label>
      <label class="form-radio">
        <input type="radio" name="support" class="support-not-other-option" value="Transportation / vehicles"{{#compare @root.data.primaryResponse.support 'Transportation / vehicles'}} checked{{/compare}} />
        <i class="form-icon"></i> Transportation / vehicles
      </label>
      <label class="form-radio">
        <input type="radio" name="support" class="support-not-other-option" value="Discharge support"{{#compare @root.data.primaryResponse.support 'Discharge support support'}} checked{{/compare}} />
        <i class="form-icon"></i> Discharge support
      </label>
      <label class="form-radio">
        <input type="radio" name="support" class="support-not-other-option" value="Premises"{{#compare @root.data.primaryResponse.support 'Premises'}} checked{{/compare}} />
        <i class="form-icon"></i> Premises
      </label>
      <label class="form-radio">
        <input type="radio" name="support" class="support-not-other-option" value="Information and advice"{{#compare @root.data.primaryResponse.support 'Information and advice'}} checked{{/compare}} />
        <i class="form-icon"></i> Information and advice
      </label>
      <label class="form-radio">
        <input type="radio" name="support" class="support-not-other-option" value="Counselling / bereavement support"{{#compare @root.data.primaryResponse.support 'Counselling / bereavement support'}} checked{{/compare}} />
        <i class="form-icon"></i> Counselling / bereavement support
      </label>
      <label class="form-radio">
        <input type="radio" name="support" value="Other" id="support-other-option"{{#compare @root.data.primaryResponse.support 'Other'}} checked{{/compare}} />
        <i class="form-icon"></i> Other (please describe)
      </label>
      {{/case ~}}
      {{/switch ~}}
    </div>
    <div class="form-group{{#unless (compare @root.data.primaryResponse.support 'Other')}} hidden{{/unless}}" id="support-other-field">
      <textarea class="form-input" name="support-other-description" id="support-other-description" placeholder="" rows="3">{{@root.data.primaryResponse.support-other-description}}</textarea>
    </div>
    <script>
    $('#support-other-option').click(function() {
      $('#support-other-field').removeClass('hidden');
    });
    $('.support-not-other-option').click(function() {
      $('#support-other-field').addClass('hidden');
      $('#support-other-description').val('');
    });
    </script>
    {{/ifAny ~}}

    {{#compare (default @root.request.params.type @root.data.primaryResponse.type) "assistance" ~}}
    <div class="form-group t-margin-full">
      <label class="form-label" for="title">Please enter a brief summary of what you need</label>
      <input class="form-input" type="text" name="title" id="title" maxlength="70" placeholder="" value="{{@root.data.primaryResponse.title}}" required />
    </div>

    <div class="form-group t-margin-full">
      <label class="form-label" for="help-needed">What help do you need in greater detail?</label>
      <textarea class="form-input" name="help-needed" id="help-needed" placeholder="" rows="3"></textarea>
    </div>
    {{/compare ~}}

    <div class="form-group t-margin-full">
      <label class="form-label">
        {{#compare (default @root.request.params.type @root.data.primaryResponse.type) "assistance" ~}}
        Where do you need it?
        {{else}}
        Where can you provide support?
        {{/compare ~}}
      </label>
      {{#each (split "In a local community,Across one or more local authority areas,Across the whole of Scotland" ",") ~}}
      <label class="form-radio">
        <input type="radio" name="where" id="where-{{slugify this}}" value="{{this}}" {{#compare @root.data.primaryResponse.where this}} checked{{/compare}} />
        <i class="form-icon"></i> {{this}}
      </label>
      {{#compare this "In a local community" ~}}
      <div class="form-group{{#unless (compare @root.data.primaryResponse.where 'In a local community')}} hidden{{/unless}}" id="where-local-options">
        <label class="form-label" for="postcodes">Please enter a full postcode of a location in the community you serve (e.g. your office location). Organisations will be able to search for support by how close it is to them. If you serve communities more than 5 miles apart, you can enter multiple full postcodes, separated by commas.</label>
        <input class="form-input" type="text" name="postcodes" id="postcodes" placeholder="e.g. EH3 6BB" value="{{@root.data.primaryResponse.postcodes}}" required pattern="^([A-PR-UWYZ][A-HK-Y0-9](?:[A-HJKS-UW0-9][ABEHMNPRV-Y0-9]?)?\s*[0-9][ABD-HJLNP-UW-Z]{2}|GIR\s*0AA)+(?:,\s*([A-PR-UWYZ][A-HK-Y0-9](?:[A-HJKS-UW0-9][ABEHMNPRV-Y0-9]?)?\s*[0-9][ABD-HJLNP-UW-Z]{2}|GIR\s*0AA))*$" />
      </div>
      {{/compare ~}}
      {{#compare this "Across one or more local authority areas" ~}}
      <div class="form-group{{#unless (compare @root.data.primaryResponse.where 'Across one or more local authority areas')}} hidden{{/unless}}" id="where-areas-options">
        <p>
          <span class="areas-title"><strong>Please tick which area(s) you operate across. </strong></span>
        </p>
        <div class="columns">
          {{#each (split "Aberdeen,Aberdeenshire,Angus,Argyll & Bute,Clackmannanshire,Dumfries & Galloway,Dundee,East Ayrshire,East Dunbartonshire,East Lothian,East Renfrewshire,Edinburgh,Falkirk,Fife,Glasgow,Highland,Inverclyde,Midlothian,Moray,Na h-Eileanan Siar,North Ayrshire,North Lanarkshire,Orkney,Perth & Kinross,Renfrewshire,Scottish Borders,Shetland,South Ayrshire,South Lanarkshire,Stirling,West Dunbartonshire,West Lothian" ",") ~}}
          <div class="column col-3 col-lg-4 col-md-6">
            <label class="form-checkbox">
              <input type="checkbox" name="areas" class="areas" value="{{this}}"{{#if (contains @root.data.primaryResponse.areas this)}} checked{{/if}} />
              <i class="form-icon"></i> {{this}}
            </label>
          </div>
          {{/each ~}}
        </div>
      </div>
      {{/compare ~}}
      {{/each ~}}
    </div>
    <script>
    $('#where-in-a-local-community').click(function() {
      $('#where-local-options').removeClass('hidden');
      $('#where-areas-options').addClass('hidden');
      $('.areas').prop('checked', false);
    });
    $('#where-across-one-or-more-local-authority-areas').click(function() {
      $('#where-local-options').addClass('hidden');
      $('#where-areas-options').removeClass('hidden');
      $('#postcodes').val('');
    });
    $('#where-across-the-whole-of-scotland').click(function() {
      $('#where-local-options').addClass('hidden');
      $('#where-areas-options').addClass('hidden');
      $('#postcodes').val('');
      $('.areas:checkbox').prop('checked', false);
    });
    </script>

    {{#ifAny (compare (default @root.request.params.type @root.data.primaryResponse.type) "people") (compare (default @root.request.params.type @root.data.primaryResponse.type) "organisations") ~}}
    <div class="form-group t-margin-full">
      <label class="form-label" for="title">Please enter a brief summary of what you can offer</label>
      <input class="form-input" type="text" name="title" id="title" maxlength="70" placeholder="e.g. Transportation services for carers" value="{{@root.data.primaryResponse.title}}" required />
    </div>

    <div class="form-group t-margin-full">
      <label class="form-label" for="help-offered">What help can you offer? Please be very specific and realistic, rather than a description of your general services.</label>
      <textarea class="form-input" name="help-offered" id="help-offered" placeholder="" rows="3">{{@root.data.primaryResponse.help-offered}}</textarea>
    </div>

    <div class="form-group t-margin-full">
      <label class="form-label" for="access-support">How can {{default @root.request.params.type @root.data.primaryResponse.type}} access your support?</label>
      <textarea class="form-input" name="access-support" id="access-support" placeholder="" rows="3">{{@root.data.primaryResponse.access-support}}</textarea>
    </div>

    <div class="form-group t-margin-full">
      <label class="form-label" for="organisation_name">Your organisation name</label>
      <input class="form-input" type="text" name="organisation_name" id="organisation_name" maxlength="70" placeholder="e.g. SCVO" value="{{@root.data.primaryResponse.organisation_name}}" required />
    </div>
    {{/ifAny ~}}

    {{#switch (default @root.request.params.type @root.data.primaryResponse.type) ~}}
    {{#case "people" ~}}
    <p class="t-margin-full">
      <strong>Where can people find out more? Please complete the contact details with specific links / contact details where people can access your support.</strong>
    </p>
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="website">Website</label>
        </div>
        <div class="col-9 col-sm-12">
          <input class="form-input" type="text" name="website" id="website" placeholder="e.g. https://example.com" value="{{@root.data.primaryResponse.organisation_name}}" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="telephone">Telephone</label>
        </div>
        <div class="col-9 col-sm-12">
          <input class="form-input" type="text" name="telephone" id="telephone" placeholder="e.g. 0131 474 8000" value="{{@root.data.primaryResponse.telephone}}" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="email">Email</label>
        </div>
        <div class="col-9 col-sm-12">
          <input class="form-input" type="text" name="email" id="email" placeholder="e.g. info@example.com" value="{{@root.data.primaryResponse.email}}" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="facebook">Facebook</label>
        </div>
        <div class="col-9 col-sm-12">
          <input class="form-input" type="text" name="facebook" id="facebook" placeholder="e.g. https://facebook.com/page" value="{{@root.data.primaryResponse.facebook}}" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="twitter">Twitter</label>
        </div>
        <div class="col-9 col-sm-12">
          <input class="form-input" type="text" name="twitter" id="twitter" placeholder="e.g. https://twitter.com/account" value="{{@root.data.primaryResponse.twitter}}" />
        </div>
      </div>
    </div>
    {{/case ~}}
    {{#case "organisations" ~}}
    <p class="t-margin-full">
      <strong>How should organisations / professionals get in touch? Please complete the contact details with specific contact details to access your support.</strong>
    </p>
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="name">Contact name</label>
        </div>
        <div class="col-9 col-sm-12">
          <input class="form-input" type="text" name="name" id="name" placeholder="e.g. Your Name" value="{{@root.data.primaryResponse.name}}" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="email">Email address</label>
        </div>
        <div class="col-9 col-sm-12">
          <input class="form-input" type="text" name="email" id="email" placeholder="e.g. info@example.com" value="{{@root.data.primaryResponse.email}}" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="telephone">Telephone number</label>
        </div>
        <div class="col-9 col-sm-12">
          <input class="form-input" type="text" name="telephone" id="telephone" placeholder="e.g. 0131 474 8000" value="{{@root.data.primaryResponse.telephone}}" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="website">Website</label>
        </div>
        <div class="col-9 col-sm-12">
          <input class="form-input" type="text" name="website" id="website" placeholder="e.g. https://example.com" value="{{@root.data.primaryResponse.website}}" />
        </div>
      </div>
    </div>
    {{/case ~}}
    {{#case "assistance" ~}}
    <p class="t-margin-full">
      <strong>How can people get in touch to offer help? Please complete the contact details with specific contact details to offer help.</strong>
    </p>
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="name">Contact name</label>
        </div>
        <div class="col-9 col-sm-12">
          <input class="form-input" type="text" name="name" id="name" placeholder="e.g. Your Name" value="{{@root.data.primaryResponse.name}}" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="email">Email address</label>
        </div>
        <div class="col-9 col-sm-12">
          <input class="form-input" type="text" name="email" id="email" placeholder="e.g. info@example.com" value="{{@root.data.primaryResponse.email}}" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="telephone">Telephone number</label>
        </div>
        <div class="col-9 col-sm-12">
          <input class="form-input" type="text" name="telephone" id="telephone" placeholder="e.g. 0131 474 8000" value="{{@root.data.primaryResponse.telephone}}" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="website">Website</label>
        </div>
        <div class="col-9 col-sm-12">
          <input class="form-input" type="text" name="website" id="website" placeholder="e.g. https://example.com" value="{{@root.data.primaryResponse.website}}" />
        </div>
      </div>
    </div>
    {{/case ~}}
    {{/switch ~}}

    {{#compare @root.route.name "share" ~}}
    <p class="t-margin-full">
      <strong>Please enter your details so we can send you a unique link allowing you to edit or delete your submission.</strong>
    </p>
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="author-name">Your name (not published)</label>
        </div>
        <div class="col-9 col-sm-12">
          <input class="form-input" type="text" name="author-name" id="author-name" placeholder="e.g. Your Name" required />
        </div>
      </div>
      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="author-email">Email address</label>
        </div>
        <div class="col-9 col-sm-12">
          <input class="form-input" type="text" name="author-email" id="author-email" placeholder="e.g. yourname@example.com" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" />
        </div>
      </div>
    </div>
    {{/compare ~}}

    <div class="text-centre v-padding-full">
      {{#compare @root.route.name "submission_edit" ~}}
      {{#compare @root.data.primaryResponse.status "published" ~}}
      <input type="submit" value="Update" class="btn btn-lg" />
      {{/compare ~}}
      {{else}}
      <input type="submit" value="Submit" class="btn btn-primary btn-lg" />
      <p class="caption t-margin-full">
        This form is protected by <a href="https://www.google.com/recaptcha/intro/v3.html">reCAPTCHA</a> and the Google
        <a href="https://policies.google.com/privacy">Privacy Policy</a> and
        <a href="https://policies.google.com/terms">Terms of Service</a> apply.
      </p>
      {{/compare ~}}
    </div>
  </form>
  {{#ifAll (compare @root.route.name "submission_edit") (compare @root.data.primaryResponse.status "published") ~}}
  <form action="/share/delete/{{@root.request.params.id}}/{{#if @root.data.auth.uid}}{{@root.data.primaryResponse.secret_key}}{{else}}{{@root.request.params.secret_key}}{{/if}}" method="post" class="text-centre">
    <input type="submit" value="Delete" class="btn bg-error" />
  </form>
  {{/ifAll ~}}
  {{/ifAny ~}}
  {{/unless ~}}
  {{else}}
  <p>
    An error occurred, please try again.
  </p>
  {{/ifAny ~}}
</div>

<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LdlceIUAAAAAEB_DGTWR7hfR0EfHtl8Rz52pH6l"></script>
<script type="text/javascript">
$(document).ready(function() {
  $.validator.methods.email = function( value, element ) {
    return this.optional( element ) || value.match(/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,253}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,253}[a-zA-Z0-9])?)+$/);
  }
  $.validator.methods.postcodes = function( value, element ) {
    return this.optional( element ) || /^([A-PR-UWYZ][A-HK-Y0-9](?:[A-HJKS-UW0-9][ABEHMNPRV-Y0-9]?)?\s*[0-9][ABD-HJLNP-UW-Z]{2}|GIR\s*0AA)+(?:,\s*([A-PR-UWYZ][A-HK-Y0-9](?:[A-HJKS-UW0-9][ABEHMNPRV-Y0-9]?)?\s*[0-9][ABD-HJLNP-UW-Z]{2}|GIR\s*0AA))*$/.test( value );
  }
  $("#share").validate({
    errorPlacement: function(error, element) {
      if (element.attr("name") == "areas" )
        error.insertAfter(".areas-title");
      else
        error.insertAfter(element);
    },
    rules: {
      "email": {
        email: true
      },
      "author-email": {
        email: true
      },
      "postcodes": {
        postcodes: true
      },
      "areas": {
        required : true
      }
    },
    messages: {
      postcodes: {
        postcodes : "This must be a list of valid postcodes, separated by commas"
      }
    },
   submitHandler: function(form) {
     grecaptcha.ready(function() {
       grecaptcha.execute('6LdlceIUAAAAAEB_DGTWR7hfR0EfHtl8Rz52pH6l', {action:'validate_captcha'}).then(function(token) {
         $('<input />').attr("type", "hidden").attr("name", "recaptcha_response").attr("value", token).appendTo('#share');
         form.submit();
       });
     });
   }
 });
});
</script>
